<main>
    <div class="container">
        <form [formGroup]="changePassForm">
          <div class="title">Change Password</div>
  
  
          <div style="display: flex;" class="input-box underline">
            <input class="fill" formControlName="password" type="{{type}}" placeholder="New Password" required />
            <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px;"></span>
            <div class="underline"></div>
          </div>
  
          <div style="display: flex;" class="input-box underline">
            <input class="fill" formControlName="confirmpassword" type="{{type}}" placeholder="Confirm Password" required />
            <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px;"></span>
            <div class="underline"></div>
          </div>  
  
          <div class="input-box button">
            <input type="submit" (click)="changePassword()" name="" value="Confirm"/>
          </div>
        </form>
  
      </div>
  </main>
