
<main>
  <div class="container">
      <form [formGroup]="resetPasswordForm">
        <div class="title">Reset Password</div>

        <div style="display: flex;" class="input-box underline" [class.error]="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')">
          <input class="fill" formControlName="password" type="{{type}}" placeholder="New Password" required />
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px;"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')" class="text-danger">*New Password is required</small>

        <div style="display: flex;" class="input-box underline" [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword')">
          <input class="fill" formControlName="confirmPassword" type="{{type}}" placeholder="Confirm Password" required />
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px;"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword')" class="text-danger">*Confirm Password is required</small>
        

        <div class="input-box button">
          <button id="btn-resetPassword" (keyup.enter)="reset()" (click)="reset()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Reset</button>
        </div>
      </form>

    </div>
</main>
